.about {
  text-align: center;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.about__title {
  border-bottom: 2px solid var(--color-secondary);
  display: inline-block;
  font-size: 2rem;
}

/* ------ IMAGE ------ */
.about__me-image {
  flex: 1;
  padding: 1.4rem;
  text-align: center;
  place-items: center;
  background: linear-gradient(
    25deg,
    transparent,
    var(--color-secondary-variant),
    transparent
  );
  /* width: 15rem;
  height: 18rem; */
  width: 17rem;
  height: 21rem;
  border-radius: 11rem 12rem 0rem 0rem;
  overflow: hidden;
}

.about__me-image img {
  max-width: 100%;
  max-height: 100%;
  /* border-radius: 50%;  */
  border-radius: 11rem 12rem 0rem 0rem;
}

/* ------ CONTENT ------ */
.about__content {
  flex: 1;
  padding-left: 3rem;
}

.about__content-title {
  border-bottom: 2px solid var(--color-secondary);
  display: inline-block;
  font-size: 2rem;
}

.about__content p {
  margin: 1rem 0;
  color: var(--color-primary);
  text-align: justify;
  font-weight: 300;
}

/* ------ MEDIA QUERIES ------ */
@media screen and (max-width: 1024px) {
  .about__me {
    width: 40%;
    margin: 2rem auto 4rem;
  }

  .about__me-image {
    margin: 0 auto;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 600px) {
  .about__container {
    flex-direction: column;
  }

  .about__me {
    width: 100%;
    margin: 0rem auto;
  }

  .about__content {
    padding: 1.5rem;
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
    font-size: 0.75rem;
  }
}
